$bgColor: #F8E8A6;

body {
    background: $bgColor;
    background-color: rgb(248, 232, 166);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}