body {
  background: #F8E8A6;
  background-color: #f8e8a6;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: none;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
}
/*# sourceMappingURL=style.css.map */